@model Pimbeck.Models.Reservas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_reserva" />
            <div class="form-group">
                <label asp-for="data_entrada" class="control-label"></label>
                <input asp-for="data_entrada" class="form-control" />
                <span asp-validation-for="data_entrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_saida" class="control-label"></label>
                <input asp-for="data_saida" class="form-control" />
                <span asp-validation-for="data_saida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_quarto" class="control-label"></label>
                <input asp-for="id_quarto" class="form-control" />
                <span asp-validation-for="id_quarto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_cliente" class="control-label"></label>
                <input asp-for="id_cliente" class="form-control" />
                <span asp-validation-for="id_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_funcionario" class="control-label"></label>
                <input asp-for="id_funcionario" class="form-control" />
                <span asp-validation-for="id_funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_user" class="control-label"></label>
                <input asp-for="id_user" class="form-control" />
                <span asp-validation-for="id_user" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="checkin" /> @Html.DisplayNameFor(model => model.checkin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
